<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kayura.example.dao.CustomerMapper">

	<resultMap id="customerMap" type="org.kayura.example.po.Customer">
		<id column="CustomerID" property="id" />
		<result column="CompanyName" property="name" />
		<result column="ContactName" property="contactName" />
		<result column="ContactTitle" property="contactTitle" />
		<result column="Address" property="address" />
		<result column="City" property="city" />
		<result column="Region" property="region" />
		<result column="PostalCode" property="postalCode" />
		<result column="Country" property="country" />
		<result column="Phone" property="phone" />
		<result column="Fax" property="fax" />
	</resultMap>

	<sql id="Base_Column_List">
		CustomerID, CompanyName, ContactName, ContactTitle,
		Address, City, Region, PostalCode, Country, Phone, Fax
	</sql>
	
	<select id="findByMap" parameterType="map" resultMap="customerMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM example_customers
		<where>
			<if test="keyword != null">
				( CompanyName LIKE #{keyword} || ContactName LIKE #{keyword} )
			</if>
		</where>
	</select>

	<select id="selectByKey" resultMap="customerMap" parameterType="string">
		select
		<include refid="Base_Column_List" />
		from example_customers
		where CustomerID = #{id}
	</select>

	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from example_customers
		where CustomerID = #{id}
	</delete>
	
	<insert id="insert" parameterType="org.kayura.example.po.Customer">
		insert into example_customers (
			CustomerID, 
			CompanyName, 
			ContactName,
			ContactTitle, 
			Address, 
			City,
			Region, 
			PostalCode,
			Country,
			Phone, 
			Fax
		) values (
			#{id}, 
			#{name},
			#{contactName},
			#{contactTitle},
			#{address}, 
			#{city},
			#{region},
			#{postalCode},
			#{country},
			#{phone},
			#{fax}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="org.kayura.example.po.Customer">
		insert into example_customers
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				CustomerID,
			</if>
			<if test="name != null">
				CompanyName,
			</if>
			<if test="contactname != null">
				ContactName,
			</if>
			<if test="contacttitle != null">
				ContactTitle,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="city != null">
				City,
			</if>
			<if test="region != null">
				Region,
			</if>
			<if test="postalcode != null">
				PostalCode,
			</if>
			<if test="country != null">
				Country,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="fax != null">
				Fax,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="contactname != null">
				#{contactName},
			</if>
			<if test="contacttitle != null">
				#{contactTitle},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="city != null">
				#{city},
			</if>
			<if test="region != null">
				#{region},
			</if>
			<if test="postalcode != null">
				#{postalCode},
			</if>
			<if test="country != null">
				#{country},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="fax != null">
				#{fax},
			</if>
		</trim>
	</insert>
	
	<update id="updateBySelective" parameterType="org.kayura.example.po.Customer">
		update example_customers
		<set>
			<if test="name != null">
				CompanyName = #{name},
			</if>
			<if test="contactName != null">
				ContactName = #{contactName},
			</if>
			<if test="contactTitle != null">
				ContactTitle = #{contactTitle},
			</if>
			<if test="address != null">
				Address = #{address},
			</if>
			<if test="city != null">
				City = #{city},
			</if>
			<if test="region != null">
				Region = #{region},
			</if>
			<if test="postalCode != null">
				PostalCode = #{postalCode},
			</if>
			<if test="country != null">
				Country = #{country},
			</if>
			<if test="phone != null">
				Phone = #{phone},
			</if>
			<if test="fax != null">
				Fax = #{fax},
			</if>
		</set>
		where CustomerID = #{id}
	</update>
	
	<update id="updateByKey" parameterType="org.kayura.example.po.Customer">
		update example_customers
		SET CompanyName = #{name},
			ContactName = #{contactName},
			ContactTitle = #{contactTitle},
			Address = #{address},
			City = #{city},
			Region = #{region},
			PostalCode = #{postalCode},
			Country = #{country},
			Phone = #{phone},
			Fax = #{fax}
		where CustomerID = #{id}
	</update>
	
</mapper>